{% extends "wineList/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" id="about">

  <h1>Our Company</h1>
  <p>Freres Wine is an British's Wine Superstore. The country‘s largest independent retailer of fine wine.
    We started in 1996 when the chef Robert Bruce opened a small store in London.
    Today, we operate 193 superstores across 23 states and continue to grow.</p>

  <h1>What we do?</h1>
  <p>We're passionate about wine, and know many of our customers feel the same way.
    So we are committed to offering the nation's best wine selection, with an emphasis on fine wines.
    Our typical store carries more than 8,000 different wines from every wine-producing region in the world.
    The typical Total Wine & More also carries more than 2,500 beers,
    from America‘s most popular brands to hard-to-find microbrews and imports,
    and more than 3,000 different spirits in every style and price range.
    We're also committed to having the lowest prices on wine, spirits and beer every day.
    Our tremendous buying power and special relationships with producers,
    importers and wholesalers bring us considerable savings, which we pass on to our customers.</p>

</div>
{% endblock %}
