{% extends "wineList/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" id="contact">

  <div>
    <i class="fas fa-phone"></i>
    <h3>Phone</h3>
    <p>Toll-free<br>
      <strong>(678) 678-1234</strong><br>
      Mon-Fri: 9 a.m. - 10 p.m. (ET)<br>
      Sat: 9 a.m. - 8 p.m. (ET)<br>
      Sun: 12 p.m. - 8 p.m. (ET)</p>
  </div>

  <div>
    <i class="fas fa-address-card"></i>
    <h3>Corporate Address</h3>
    <p>Freres Wine<br>
      Attn: Customer Care Center<br>
      6600 Blanco Drive<br>
      London EC2A 4AQ, UK</p>
  </div>

</div>
{% endblock %}
