<div class="container text-center" id="lastSec">
  <div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Frères Heureux Overlooking the Seattle Riverwalk 203 S. St.
          Mary’s Street Seattle, Washington 98205 290-335-0722 Read more on our blog, The Talk.
          Dinner is served seven nights: frères heureux is open for dinner seven nights a week.
          Chef Robert’s menus change daily, and prix fixe Seasonal Menus are always available.
          Reservations are encouraged, especially on popular dining-out holidays such as Valentine’s Day/Weekend, Christmas Eve, and New Year’s Eve.
          Private Dining Rooms at Frères Heureux. The best parties of the season are booking now! To reserve your preferred date, call 290-335-0722 </p>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-sm-12 center-sm center-xs" id="follow">
      <h2>Follow Us On</h2>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a><li>
        <li><a href="#"><i class="fa fa-twitter"></i></a><li>
        <li><a href="#"><i class="fa fa-youtube"></i></a><li>
        <li><a href="#"><i class="fa fa-instagram"></i></a><li>
      </ul>
    </div>
  </div>
</div>
<hr size="1px" color="black">
<footer class="row text-center container">
  <div class="col-lg-5 offset-lg-5 col-md-5 offset-md-6 col-sm-5 offset-sm-6 col-xs-5 offset-xs-5">
    <p>Copyright &copy; by MGR</p>
  </div>
</footer>
