<div class="container">
  <header class="col-xl-3 offset-xl-6 col-lg-4 offset-lg-6 col-md-6 offset-md-6 col-sm-6 offset-sm-6 col-xs-4 offset-xs-8" id="header">
    <div id="nav">
      <div id="title"><a href="{% url 'home' %}"><p id="nav">Frères Heureux</p></a>
        <nav id="menu">
          <ul>
            <li><a href="#chef">About Us</a></li>
            <li><a href="#food">Food</a></li>
            <li><a href="#style">Venues</a></li>
            <li><a href="reservations">Reservations</a></li>
          </ul>
         </nav>
       </div>
      </div>
   </header>
 </div>
